<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Auth0 Django SDK" />
        <meta name="author" content="Matt Halden"/>
        <title>Auth0 Django SDK</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'hometemp/images/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'hometemp/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- With Session -->
        {% if session %}
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Auth0</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a></li>
                        <!-- Add Login button here, change to profile tab/access token instead? so dropdown can be multiple login routes? -->
                        <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
                        <!-- Dropdown Menu - for multiple Auth0 login routes, profile when logged-in -->
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <!-- Add user session data -->
                <h1>Hello, welcome {{session.userinfo.name}}</h1>
                <p class="lead">You have logged-in!</p>
            </div>
        </div>
        <div><pre>{{pretty}}</pre></div>
        <!-- Without Session-->
        {% else %}
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Auth0</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                        <!-- Dropdown Menu - for multiple Auth0 login routes, profile when logged-in -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Login</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'login' %}" id="qsLoginBtn"">Login</a></li>
                                <li><a class="dropdown-item" href="{% url 'passkey' %}">Login w/ Passkeys</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'login_orgs' %}">Login w/ Coca Cola</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'Self Serve' %}">Self Service SSO</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>Hello, welcome to my app</h1>
                <p class="lead">Explore multiple Auth0 Authentication & Authorization Flows</p>
                <p>Built upon the <a href="https://auth0.com/docs/quickstarts">Auth0 Django SDK</a></p>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'hometemp/js/scripts.js' %}"></script>
    {% endif %}
    </body>
</html>




<!--<html>-->
<!--  <head>-->
<!--    <meta charset="utf-8" />-->
<!--    <title>Auth0 Example</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    {% if session %}-->
<!--    <h1>Welcome {{session.userinfo.name}}!</h1>-->
<!--    <p><a href="{% url 'logout' %}" id="qsLogoutBtn">Logout</a></p>-->
<!--    <div><pre>{{pretty}}</pre></div>-->
<!--    {% else %}-->
<!--    <h1 id="profileDropDown">Welcome Guest</h1>-->
<!--    <p><a href="{% url 'login' %}" id="qsLoginBtn">Login</a></p>-->
<!--    <p><a href="{% url 'passkey' %}" id="qsPasskeyBtn">passkey</a></p>-->
<!--    <p><a href="{% url 'Self Serve' %}" id="qsSelf ServeBtn">Self Serve</a></p>-->
<!--    {% endif %}-->
<!--  </body>-->
<!--</html>-->
